body{
    margin:auto;
    width:80%;
    font-family:Calibri, sans-serif;
    font-size:22px;
    line-height:1.5em;
    background-image:url("background.jpg");
    background-position:-100px;
    background-size:cover;
}

.header{
    font-family:Consolas, sans-serif;
    font-size:28px;
    line-height:2em;
    text-align:center;
    padding:20px;
    color:rgb(0, 240, 0);
    text-shadow:4px 4px rgb(0, 80, 0);
    background-color:rgb(40, 40, 40);
}

.container{
    overflow:auto;
    padding:20px;
    color:rgb(0, 0, 0);
    background-color:rgb(240, 240, 240);
}

.required{
    color:rgb(255, 0 ,0);
}

#error{
    color:rgb(255, 0, 0);
}

.row{
   padding:8px 0px; 
}

.input{
    width:50%;
    padding:8px;
    font-family: Calibri, sans-serif;
    font-size:18px;
}

.input:focus{
    background-color:rgb(255, 255, 200);
}

#reset, #submit{
    padding:8px 16px;
    font-family: Calibri, sans-serif;
    font-size:18px;
}

.footer{
    padding:20px;
    color:rgb(240, 240, 240);
    background-color:rgb(40, 40, 40);
}