.normaltext {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}

.form{
    width: 50%;
    margin: auto;
}

.mtext {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}

.submit-btn[type="submit"] {
    background: #242424;
    border: 1px solid #4f5c05;
    border-radius: 28px;
    color: #fff;
    font-style: normal;
    line-height: 35px;
    margin: 10px;
    width: 30%;
    text-transform: uppercase;
}

.row.heading h5 {
    color: #fff;
    font-size: 32.32px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 40;
}

.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
    font-size: 20px;
}

.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}
