html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    margin-bottom: 100px; /* Margin bottom must be equal or higher than footer height */
    background-image: url('images/starwarsbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

header {
    margin-bottom: 20px;
    text-align: center;  
    background-color: rgb(30, 30, 30, 0.2);
    color:#FEFFFF;
    text-shadow: 0 0 5px #FEFFFF;
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0; 
    padding-top: 5px;  
}

header p {
    font-size: 12px;
    font-style: oblique;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
}


.container {
    width: auto;      /* auto scale when scaling down*/
    max-width: 500px; /* auto scale when scaling down*/
    background-color: rgb(30, 30, 30, 0.6); /*last digit is for opacity */
    text-align: center;
}

.container h2 {
    padding-top: 30px;
    color: #feda4a;
    text-shadow: 0 0 10px #feda4a;
    font-weight: bolder;
    
 }

 .container p {
    font-size: 30px;
    color:#FEFFFF;
    text-shadow: 0 0 5px #FEFFFF;
    font-weight: bolder;
    text-align: center;
 }

 .container a:link, .container a:visited {
    background-color: #feda4a;
    font-size: 20px;
    color:black;
    padding: 5px 15px;
    margin: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    
 }

.container a:hover, .container a:active {
    background-color: #feda4a;
    box-shadow: 0 0 15px #feda4a;
    
}

form {
    padding: 30px 40px;
}

.form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #FEFFFF;
    text-shadow: 0 0 4px #FEFFFF;
}

.inputBorderError {
    border-color: red;
    box-shadow: 0 0 12px red;
}

.inputBorderError:focus {
    border-color: red;
    box-shadow: 0 0 12px red;
}

.inputBorderSuccess {
    border-color: #feda4a;
    box-shadow: 0 0 12px #feda4a;
}

.inputBorderSuccess:focus {
    border-color: #feda4a;
    box-shadow: 0 0 12px #feda4a;
}

.errorMsg {
    font-size: 14px;
    color: red;
    text-shadow: 0 0 5px red;
}

.warningMsg {
    font-size: 14px;
    color: red; 
    text-shadow: 0 0 5px red;
}

.helpMsg {
    font-size: 14px;
    color: green;
    text-shadow: 0 0 5px green;
}

.form-control{
    font-weight: bold;
    font-size: 18px;
}

/*match other input's width with twitter-typeahead*/
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {  
    width: 100%; 
}

/*set typeahead suggestion box*/
.tt-menu { 
	background-color: rgb(15, 15, 15);
    color: white;
    box-shadow: 0 0 8px white;
	border-radius: 4px;
	margin-top: 12px;
	padding: 8px 0;
	width: 100%;
}

/*set typeahead cursor and background when hovering*/
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #feda4a;
	color: black;
    font-weight: bold;
}

button {
    width: 100%;
    display: block;
    margin-top: 20px;
    box-shadow: 0 0 10px #feda4a;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 100px; /* Vertically center the text here */
    text-align: center;  
    background-color: rgb(30, 30, 30, 0.2);
    color: #FEFFFF;
    text-shadow: 0 0 5px #FEFFFF;
    font-size: 18px;
}